.container_SignUp {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.underline {
    width: 40px;
    height: 2px;
    background-color: #FFD700;
    margin: 0 auto;
}

.inputs {
    margin-bottom: 20px;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input img {
    margin-right: 10px;
}

.input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.forgot-password span {
    color: #FFD700;
    cursor: pointer;
}

.submit-container {
    display: flex;
    justify-content: space-between;
}

.submit {
    width: 48%;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit.gray {
    background-color: #ccc;
}

.submit:hover {
    background-color: #FFD700;
    color: #fff;
}

.complete-sign-up-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Added margin-top to center the button */
}

.complete-sign-up {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    background-color: #FFD700;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.login-button-container {
    text-align: center;
    margin-bottom: 20px;
}

.login-button {
    padding: 10px 20px;
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #FFC107;
}

.button-text-margin {
    margin: 0 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.container_SignUp {
    width: 100%;
    max-width: 400px;
    margin: 80px auto; /* Updated margin */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
